.spu-form-component {
  .upload-img-btn {
    border: 0;
    background: none;
    cursor: pointer;
  }

  .spu-name-input,
  .spu-trademark-select,
  .spu-sale-attr-select {
    width: 400px;
  }

  .sale-atr-val-item {
    display: inline-block;
    margin: 0;

    .sale-attr-val-input {
      width: 240px;
    }
  }

  .add-sale-attr-btn {
    margin-left: 15px;
  }

  .cancel-btn {
    margin-left: 15px;
  }
}
