.logo-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  .logo-img-bigger {
    width: 80px;
  }

  .logo-img-smaller {
    width: 50px;
  }

  .mall-title {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
  }
}